**/.env
**/.env/**
**/.env.*
**/.dev.vars
**/.secrets
**/.secrets/**
**/.wrangler
**/node_modules
**/.output
**/.nitro
**/.cache
**/dist
!third-party/misty-contracts/dist
!third-party/misty-contracts/dist/**
**/build
**/target
.git
.github
